* {
    background: url(https://personales.unican.es/crespoj/senior/purple_marble.png) fixed;
    color: blue ;
    font-family: 'Roboto', sans-serif;

}

h1 {
    font-weight: bold;
    color: grey;
    border: 2px solid black;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 35px;
    margin-left: 300px; 
    margin-right: 340px;
}

section {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
    
p {
    color: red;
    padding: 5px;
    margin: 20px;
    
}

.myButton {
    color: rgb(255, 255, 255); font-size: 30px; line-height: 30px; padding: 30px; border-radius: 50px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 9px 2px 15px 0px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
    .myButton:hover {
    background: #1C6EA4; }
    .myButton:active {
    background: #144E75; }
/*
ESTO ES UN COMENTARIO DENTRO DEL CSS
*/

#lorem2 {
    color: brown;
    font-size: 20px;
}

.miclase {
    font-weight: bold;
    color: lightcoral;
}

section h2 {
    color: blueviolet;
}

